{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "constructor-return": "off",
    "no-param-reassign": "off",
    "consistent-return": "off"
  }
}
